@model Manga.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<h4>List of categories have this product</h4>
@if (ViewBag.CategoriesCount == 0)
{
    <hr />
    <p>No categories have this product.</p>
}
<table class="table">

    @foreach (var item in ViewBag.Categories)
    {
        <tr>
            <td>
                @item.Title
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
